---
import Main from "../layouts/Main.astro";
import Latest from "../components/Latest.astro";
import Remaining from "../components/Remaining.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { BlogHandler } from "../utils/index.ts";
const posts = await getCollection("posts");
const sortByDate = (posts: CollectionEntry<"posts">[]) => {
  return posts.sort((a, b) => {
    return a.data.date.getTime() - b.data.date.getTime();
  });
};

const sortedPosts = sortByDate(posts);
const latestPost = sortedPosts[0];
const remainingPosts = sortedPosts.slice(1);
const blogHandler = new BlogHandler(latestPost);
const blogImage = blogHandler.getImage();
const blogCategory = blogHandler.getCategoryLogo();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>AlSpace</title>
  </head>
  <body>
    <Main
      pageTitle="AlBlog"
      pageCaption="Welcome to my blog. Check out my latest articles here."
    >
      <div class="flex flex-col gap-20 items-center justify-center w-full">
        {
          blogImage && blogCategory && (
            <a href={`/blog/${latestPost.slug}`}>
              <Latest
                image={blogImage}
                blogTitle={latestPost.data.title}
                blogDate={blogHandler.getDateAsString()}
                blogCategory={blogCategory}
              />
            </a>
          )
        }

        <Remaining remainingPosts={remainingPosts} />
      </div>
    </Main>
  </body>
</html>
